---
layout: default
---

<div class="top-section">
  <div class="container">
    <div class="top-section-content">
      <h3>RPEDS: The Reenvisioned Public [Open] Education Data Syndicate</h3>

      <p>Proper noun: An informal group of data wonks collectively working to develop a lightweight database containing
        open
        demographic and education data to streamline cleaning, direct queries, and analysis for experienced data users.
      </p>

      <p>Pronunciation: /OUR-peds/ Common Mispronunciations: /I-peds/, /MY-peds/, /THEIR-peds/, /YOUR-peds/</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      {{ content }}
    </div>
  </div>
</div>